VITE_SUPABASE_URL=https://eeszlgndckfyhreoynuo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVlc3psZ25kY2tmeWhyZW95bnVvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg3Njk3MzIsImV4cCI6MjEwNDM0NTczMn0.73uIZTHvfDzxy8yBhXh6OaVdHzmT4fMNO9QZaruII6U
